*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --soft-green: #03C988;
    --dark-green: #0c8055;
    --white: #fff;
    --black: #222;
    --dark-grey: #666;
    --grey: #c2c2c2;
    --soft-grey: #eee;
    --soft-blue: #2f68e2;
    --dark-blue: #0e33d4;
    --dark-red: #ff0808;
    --soft-red: #ff3838;
    --yellow: #ffee00;
}

.dark-theme {
    --black: #fff;
    --grey: #444;
    --white: #272727;
    --soft-grey: #999;
}

body,
html {
    width: 100%;
    height: 100%;
    color: var(--black);
}

html {
    font-size: 62.5%;
}

#main-container {
    width: 100%;
    min-height: 100dvh;
    position: relative;
    background: var(--grey);
    /* background: #555; */
}

.wrapper {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

button {
    border: none;
    outline: none;
}

#loader-container {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader-container .loader {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: .4rem solid var(--white);
    border-top-color: var(--dark-blue);
    animation: loader .5s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

#primary-nav {
    width: 100%;
    background: var(--soft-blue);
    padding: .5rem;
}

#inner-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    font-size: 3rem;
    color: #fff;
    padding: 1rem 2rem;
    white-space: nowrap;
    cursor: pointer;
}

#logo span {
    color: var(--yellow);
}

#logo:hover {
    background: var(--dark-blue);
}

#menu {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#menu .menu-item {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    color: var(--white);
}

.menu-item:hover {
    background: var(--dark-blue);
}

.menu-item.cart {
    position: relative;
}

.menu-item.cart .cart-popup {
    position: absolute;
    top: 0;
    right: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: var(--dark-red);
    display: none;
    text-align: center;
}

#menu .dark-light-btn {
    margin-left: 1rem;
    width: 5rem;
    padding: .3rem;
    background: var(--dark-blue);
    border-radius: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    transition: all .3s;
}

#menu .dark-light-btn .ball {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: var(--white);
}

#menu .dark-light-btn.on {
    padding-left: 2.7rem;
}


/* -----caraousel-container-------- */


#caraousel-container {
    width: 100%;
    height: 30rem;
    margin-bottom: 4rem;
    position: relative;
    overflow: hidden;
}

#caraousel-container .btn {
    position: absolute;
    padding: 3rem 1rem;
    background: var(--soft-blue);
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

#caraousel-container .btn:hover {
    background: var(--dark-blue);
}

#caraousel-container .btn.prev {
    right: 0;
}

#caraousel-container .inner-container {
    display: flex;
    height: 100%;
    width: 100%;
}

#caraousel-container .inner-container .slide {
    min-width: 100%;
}

#caraousel-container .inner-container .slide img {
    object-fit: cover;
}


/*---- cards container -------*/



#products-container {
    position: relative;
    width: 100%;
    margin: 3rem 0 0
}


#inner-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

#inner-container .product-card {
    width: 24rem;
    height: 36rem;
    background: var(--white);
    margin: 1rem;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: .8rem;
    transition: transform .3s;
}

#inner-container .product-card:hover {
    transform: translateY(10px);
}


#inner-container .product-card .product-img {
    height: 13rem;
    margin-bottom: 1rem;
}

#inner-container .product-card .product-details {
    width: 100%;
}

#inner-container .product-card .product-details .product {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: .4rem;
    font-weight: 700;
}

#inner-container .product-card .product-details .product.category {
    font-weight: 500;
    color: var(--dark-grey);
}

#inner-container .product-card .product-details .product.price {
    background: var(--soft-red);
    color: var(--white);
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    font-weight: 900;
    font-size: 2rem;
}

#inner-container .product-card .product-details .star-rating {
    margin: .8rem 0;
    display: flex;
    justify-content: center;
    gap: .4rem;
    font-size: 2rem;
    color: gold;
}

.btn {
    padding: 1.5rem 2rem;
    background: var(--soft-blue);
    font-weight: 700;
    color: var(--white);
}

.btn:hover {
    background: var(--dark-blue);
}

.product-details .btn.add-cart {
    border-radius: 2.1rem;
    display: block;
    margin: auto;
}

.added-product-popup {
    position: fixed;
    top: -9rem;
    left: 50%;
    transform: translateX(-50%);
    background: var(--soft-green);
    width: 30rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    transition: top .3s ease-in-out;
}

.added-product-popup.on {
    top: 3rem;
}

.added-product-popup .product-popup-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark-green);
}


/* ------cart-container------- */


.cart-container {
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    right: -35rem;
    height: 100dvh;
    max-width: 35rem;
    width: 100%;
    z-index: 1;
    background: var(--soft-grey);
    transition: right ease-in-out .3s;
    overflow-y: scroll;
}

.cart-container.on {
    right: 0;
}

.cart-container .btn.close-cart {
    font-size: 3rem;
}

.cart-container .cart-totalprice {
    position: relative;
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
    font-weight: 800;
    color: var(--black);
}

#inner-cart-container {
    margin-top: 2rem;
    width: 100%;

}

#inner-cart-container .cart-product-box {
    width: 100%;
    background: var(--white);
    margin: 2rem auto;
    padding: 1rem;
    border-radius: .5rem;
}


#inner-cart-container .cart-product-box .cart-products {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    margin-bottom: 1rem;
}

#empty-cart {
    font-size: 2.7rem;
    font-weight: 800;
    color: var(--dark-grey);
    text-align: center;
}

#inner-cart-container .cart-product-box .cart-products .cart-product-img {
    margin-right: 1rem;
    height: 8rem;
}

#inner-cart-container .cart-product-box .cart-products .product-title {
    font-size: 1.3rem;
}

#inner-cart-container .cart-product-box .cart-products .product-price {
    white-space: nowrap;
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--dark-red);
}

#inner-cart-container .cart-product-box .btn.remove-cartproduct,
.buy-cartproduct {
    width: 45%;
    margin: .5rem;
}

.btn.buy-cartproduct {
    background: var(--soft-green);
}

.btn.buy-cartproduct:hover {
    background: var(--dark-green);
}

#inner-cart-container .cart-product-box .quantity {
    text-align: center;
    font-size: 1.8rem;
    color: var(--dark-red);
    margin-top: 1rem;
}

/* ----------footer---------- */
#footer {
    min-height: 20rem;
    margin-top: 4rem;
    background-color: var(--dark-grey);
    color: var(--white);
    padding: 4rem 2rem;
}

#footer .wrapper .inner-container {
    gap: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#footer .wrapper .inner-container .footer-logo {
    font-size: 3rem;
    margin-right: 1rem;
    font-weight: 700;
}

#footer .wrapper .inner-container .footer-logo span {
    color: #fff;
}

.footer-logo i {
    color: var(--dark-blue);
}

#footer .wrapper .inner-container .footer-links {
    font-size: 1.7rem;
    font-weight: 800;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-right: 1.5rem;
}

.footer-links a:hover {
    color: var(--dark-blue);
}

.footer-social i {
    font-size: 2.4rem;
    margin-right: 1.5rem;
    color: var(--white);
    transition: color 0.3s ease;
}

.footer-social i:hover {
    color: var(--dark-blue)
}